@use '../styles/variables';

:host {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;
	gap: variables.$gap-lg;
}

@media (max-height: 680px) {
	.footer {
		margin-top: auto;
	}
}
