<div class="cell-wrapper"
     tabindex="0"
     (keydown.enter)="enableEditing()"
     (click)="enableEditing()">

    <input *ngIf="isEditing; else plainText"
           class="cell-input"
           [ngModel]="cells[col][row]"
           guisAutofocus
           (change)="updateCellValue($event)"
           (blur)="updateCellValue($event)">
    <ng-template #plainText>
        <span class="cell-text">
            {{ cellsStore.evalCell(cells[col][row]) }}
        </span>
    </ng-template>
</div>

