<header>
    <h1>7GUIs</h1>
</header>
<main>
    <p class="description">
        An implementation of <a href="https://7guis.github.io/7guis/">7GUIs</a> programming benchmark using Angular 16.
        This benchmark consists of 7 tasks that represent typical challenges in GUI programming.
        Check list below to navigate through tasks and their solutions.
    </p>
    <h2>Tasks</h2>
    <nav>
        <ol>
            <li><a routerLink="/counter">Counter</a></li>
            <li><a routerLink="/temperature-converter">Temperature converter</a></li>
            <li>Flight booker</li>
            <li>Timer</li>
            <li>CRUD</li>
            <li>Circle Drawer</li>
            <li>Cells</li>
        </ol>
    </nav>
</main>
<footer class="footer">
    <p>
        Made by <a href="https://github.com/Gortyser" target="_blank">Mikhail Filin</a>, <br>
        UI inspired by <a href="https://7guis.bradwoods.io" target="_blank">Brad Woods</a> 7GUIs work
    </p>
</footer>
