@use 'src/styles/variables';

:host {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: variables.$gap-xs;
}

.timer {
	&__section {
		display: flex;
		align-items: center;
		gap: variables.$gap-xs;
	}

	&__reset {
		margin-top: variables.$gap-sm;
	}
}
