@use 'styles/colors';
@use 'styles/variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	min-height: 100%;
	display: flex;
	justify-content: center;
}

body {
	margin: 0;
	width: 100%;
	min-height: 100%;
	max-width: 1360px;
	padding: 40px;
	display: flex;
	flex-direction: column;

	background-color: colors.$main-bg;
	color: colors.$text-primary;
	font-size: 14px;
	line-height: 1.5;
	font-family: monospace;
}

h1, h2, h3 {
	font-weight: 700;
}

h2 {
	margin-bottom: variables.$gap;
}

ol {
	display: flex;
	flex-direction: column;
	list-style-position: inside;
	gap: variables.$gap;
}

a {
	color: colors.$text-accent;

	&:hover {
		text-decoration: none;
	}
}

code {
	background: colors.$light-bg;
	padding: 2px 4px;
	border-radius: 4px;
}

@media (max-width: variables.$breakpoint-sm) {
	body {
		padding: 20px;
	}
}
